body {
  position: relative;
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", "sans-serif";
  font-size: 16px;
  width: 760px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 4em;
}

header {

}

header a {
  margin-left: 1em;
}

header a.home {
  margin-left: 0;
}

footer {
  font-size: small;
  margin-top: 4em;
}

h1 {
	font-size: 2em;
	font-weight: 300;
}

h2 {
	font-weight: 200;
	font-size: 1.5em;
}

body p {
  line-height: 1.5em;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

body pre {
  padding-left: 18px;
  margin: 2em 0 2em 0;
}

sup, sub {
  line-height: 0;
}

li {
  line-height: 1.5em;
}

ul.posts {
	list-style: none;
	padding: 0;
}

.posts li {
	width: 720px;
}

.posts h2 a {
	color: black;
}

span.date {
  color: #636363;
}

.posts h2 a:hover {
	color: steelblue;
	text-decoration: none;
}

.posts .date {
	float: right;
}