<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Huey Petersen" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="/rss.xml" />
</head>
<body>
  <header>
    {% if page.section == 'home' %}
    <b><a class="home" href="/">Home</a></b>
    {% else %}
    <a class="home" href="/">Home</a>
    {% endif %}

    {% if page.section == 'about' %}
    <b><a href="/about.html">About</a></b>
    {% else %}
    <a href="/about.html">About</a>
    {% endif %}

  </header>
	{{ content }}
</body>
</html>